/* ***************************************** 
            RESPONSIVE- MOBILE-FIRST 
******************************************* */

/* XS extra small < 576px - default css*/




/**** MD - medium < 768px *************/

@media screen and (min-width: 768px) {

    *{
        color: rgb(109, 46, 42);
        border:1px solid rgba(171, 16, 16, 0.342);
    }
    
    [class*="row"] *,
    [class*="col"]{
        border: 1px solid rgba(197, 131, 103, 0.455);
    }
    

/* *******************************
            NAV
 ***************************** */
    
}
    

/**** LG - large < 992px *************/
@media screen and (min-width: 992px) {

    *{
        color: rgb(61, 207, 45);
        border:1px solid rgba(40, 118, 18, 0.645);  
    }
    
    [class*="row"] *,
    [class*="col"]{
        border: 1px solid rgba(96, 193, 85, 0.572);
    }
    
}