/* *******************************
        GRIGLIA DI CONTROLLO
 ***************************** */
* {
  
    border: 1px solid rgba(56, 71, 135, 0.442);
}



/* *******************************
            VARIABILI
 ***************************** */

/* --bs-primary: ;
--bs-primary-rgb:
 */


/* *******************************
            NAV
 ***************************** */




/* *******************************
            JUMBOTRONE
 ***************************** */
*::before{
    padding: 0;
    margin: 0;
}


.star-icon{
    width: 2rem;
    font-size: 2rem;
    vertical-align: middle;
}

.tar-container .star-icon::after,
.star-container .star-icon::before,
.star-stroke{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 3px;
    background-color: rgb(3, 18, 31);
    border-radius: 50px;
    margin: 10px;
}

